%html
  %head
    %title jquery.attach
    %script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    %script(type="text/javascript" src="/javascript/jquery.attach.js")
    %script(type="text/javascript" src="/javascript/example.js")

%body
  %form#example(name="example" enctype="multipart/form-data" method="post" action="/upload")
    %input#upload(type="file" name="upload")
    %input(type="submit")
