%html
  %head
    %title jquery.attach
    %link(rel="stylesheet" href="/stylesheets/jquery.attach.css")
    %script(type="text/javascript" src="/javascripts/jquery-1.7.1.min.js")
    %script(type="text/javascript" src="/javascripts/jquery.attach.js")
    %script(type="text/javascript" src="/javascripts/example.js")

%body
  %form#example(name="example" enctype="multipart/form-data" method="post" action="/upload")
    %input#upload(type="file" name="upload")
